---
apiVersion: v1
kind: Secret
metadata:
  name: rhai-registry-credentials
  namespace: redhat-ods-operator
type: kubernetes.io/dockerconfigjson
stringData:
  .dockerconfigjson: |
    {
      "auths": {
        "registry.redhat.io": {
          "username": "<YOUR_REGISTRY_USERNAME>",
          "password": "<YOUR_REGISTRY_PASSWORD>"
        }
      }
    }
